<ion-content mode="ios">

  <ion-card color="tertiary">
    <ion-card-content>
      <div class="ion-text-center">
        <img class="circle logo-l" src="assets/imgs/defaultshop.png" />
      </div>
      <br>
      <ion-label color="dark">
        <h1 class="ion-margin-top ion-text-center"><b>ชื่อร้านค้า</b></h1>
      </ion-label>
      <br>
      <div class="text-indent">ข้อมูลเพิ่มเติม
        <br>
        <br>

        <div class="text-indent">ชาร์ตไปแล้วเวลา 00.00 นาที</div>
        <div class="text-indent">แจ้งปัญหา 044-444555</div>
        <br>      
        <div>หมายเหตุ : สามารถยกเลิกก่อนครบกำหนดเวลาได้</div>
      </div>
      
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-button color="danger" class="ion-no-margin" expand="full" type="submit" routerLink="/ev-cart-edit" >ยกเลิกการชาร์ต</ion-button>
</ion-footer>