<ion-header class="home-header" mode="ios">
  <ion-item lines="none" color="light" class="ion-no-padding">
    <ion-label class="text-red ion-padding-start"><b>รายการโปรด</b></ion-label>
  </ion-item>
  <ion-row>
    <ion-col size="10">

      <!-- Do not forget implement slideOpts's value in typescript -->
      <ion-slides [options]="slideOpts">

        <ion-slide class="ion-no-margin">
          <ion-item class="ion-text-center ion-no-padding shortcut ion-no-margin" color="light" lines="none">
            <ion-label class="ion-no-padding ion-no-margin ion-text-center">
              <ion-text>
                <img class="ion-text-center" src="assets/imgs/defaultshop.png">
              </ion-text>
              <h4><small>ชื่อร้านค้า</small></h4>
            </ion-label>
          </ion-item>
        </ion-slide>

        <ion-slide class="ion-no-margin">
          <ion-item class="ion-text-center ion-no-padding shortcut ion-no-margin" color="light" lines="none">
            <ion-label class="ion-no-padding ion-no-margin ion-text-center">
              <ion-text>
                <img class="ion-text-center" src="assets/imgs/defaultshop.png">
                <img class="shortcut-noti" src="assets/imgs/pinnoti.png">
              </ion-text>
              <h4><small>ชื่อร้านค้า</small></h4>
            </ion-label>
          </ion-item>
        </ion-slide>

      </ion-slides>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content color="tertiary" mode="ios">

  <ion-list lines="full" class="ion-no-padding">

    
  </ion-list>

</ion-content>