<ion-content class="ion-padding" mode="ios">

  <ion-list class="ion-margin-bottom" lines="full">
    <ion-list-header class="ion-padding">
      <ion-label>Reference tools</ion-label>
    </ion-list-header>

    <a target="_blank" href="https://ionicframework.com/docs/components">
      <ion-item color="tertiary" button>
        <ion-label>UI Components</ion-label>
      </ion-item>
    </a>
    <a target="_blank" href="https://ionic.io/ionicons">
      <ion-item color="tertiary" button>
        <ion-label>Icons</ion-label>
      </ion-item>
    </a>

  </ion-list>

  <ion-list class="ion-margin-bottom" lines="full" *ngFor="let info of data">
    <ion-list-header class="ion-padding">
      <ion-label>{{ info.title }}</ion-label>
    </ion-list-header>

     <ng-container *ngFor="let item of info.data">
      <a *ngIf="item.link" target="_blank" [routerLink]="item.link">
        <ion-item color="tertiary" button [ngClass]="{'indent': item.isSub}">
          <ion-label>
            {{ item.title }}
            <p *ngIf="item.required">
              <ion-text color="medium">{{ item.required }}</ion-text>
            </p>
          </ion-label>
        </ion-item>
      </a>
      <ion-item *ngIf="!item.link" color="light" lines="none" [ngClass]="{'indent': item.isSub}">
        <ion-label>
          {{ item.title }}
          <p *ngIf="item.required">
            <ion-text color="medium">{{ item.required }}</ion-text>
          </p>
        </ion-label>
      </ion-item>
    </ng-container>
    
  </ion-list>

</ion-content>